.header {
    padding: 16px 0;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item + &__item {
        margin-top: 2px;
    }
    &__link {
        display: block;
        width: fit-content;
        font-size: 11px;
    }
}